:root {
 /* Primary */
--very-dark-magenta: hsl(300, 43%, 22%);
--soft-pink: hsl(333, 80%, 67%);
/* Neutral */
--dark-grayish-mgenta: hsl(303, 10%, 53%);
--light-grayish-magenta: hsl(300, 24%, 96%);
--white: hsl(0, 0%, 100%);
}

/* reset css */
* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Spartan';
    font-size: 15px;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style: none;
    padding-left: 0px;
}

img {
    max-width: 100%;
    display: block;
}
/**/

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
